@charset "utf-8";
/****/
*{box-sizing: border-box;  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
body{margin:0;padding:0;color:#333; font-family: "Microsoft YaHei";}
div,span,p,ul,ol,li,dd,h1,h2,h3,h4,h5,h6,dt,dl,form,input,textarea,blockquote,th,td{padding:0px;margin:0px;}
select,input{padding:0;}
label {font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
em { font-style:normal}
a{text-decoration:none;color:#333; cursor: pointer;}
a:hover{text-decoration:none; color:#0c3cf6}
img{ border:none;}
table, th, td {border-collapse: collapse;border-spacing: 0;}
	/*文字 文字对齐方式*/
.tc{text-align:center;}
.tl{text-align:left;} 
.tr{text-align:right;}
.fb{font-weight:bold;}
	/*字体 颜色*/
.blue   { color:#06c}
.brown  { color:#666}
.gray   { color:#999}
.green  { color:#2d9b01}
.orange { color:#f60}
.red    { color:#f00}
.white	{ color:#fff}
.light  { color:#9a9a9a}
.grey   { color:#2b2b2b}
.grey a   { color:#474747}
	/*浮动 位置*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}

.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml28{ margin-left: 28px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mt5{ margin-top:5px}
.mt10{ margin-top:10px}
.mt20{ margin-top:20px}
.mt30{ margin-top:30px}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.w990{ width:990px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

/***单行文字超出省略***/
.oneTxt-omit{ display: block; overflow: hidden;width: 100%; white-space: nowrap; text-overflow: ellipsis;}
/*****两行文字超出省略*********/
.twoTxt-omit{ width: 100%; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}

.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
